.root{
    -fx-background-color: #ded7e6;
    -fx-background-size: cover;
    -fx-bacground-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/Image/top-view-hands-making-heart-with-peace-sign_23-2148630416.jpg");
    
}

